{% if page.layout == "docs" %}
<div class="mt-2 mb-0 bg-gray-light">
  <footer class="container">
    <div class="row center-xs">
      <div class="col-xs">
        <p class="pt-2 small align-center">All code on this site is licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a> unless otherwise stated. &copy; {{ 'now' | date: "%Y" }} Maarten Brakkee. This site is automatically build with <span class="clr-tertiary">&hearts;</span> using <a href="https://jekyllrb.com/">Jekyll</a> and <a href="https://webpack.js.org/">Webpack</a>. View this project on <a href="https://bitbucket.org/maartenbrakkee/brandaris/overview">Bitbucket</a>.</p>
      </div>
    </div>
  </footer>
</div>
{% endif %}

<div id="outdated"></div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84039417-1', 'auto');
  ga('send', 'pageview');
</script>

{% if page.layout == "docs" %}<script src="{{ site.baseurl }}/assets/scripts/brandaris.docs{% if site.isProduction == true %}.min{% endif %}.js"></script>{% endif %}
<script src='{{ site.baseurl }}/assets/scripts/brandaris{% if site.isProduction == true %}.min{% endif %}.js'></script>
<script src='{{ site.baseurl }}/assets/scripts/brandaris.charts{% if site.isProduction == true %}.min{% endif %}.js'></script>
