<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.projectname }}, a strong and sleek CSS-only framework.">
<meta name="author" content="Maarten Brakkee">

<title>{% if page.layout == "home" %}{{ site.projectname }} · {{ page.title }}{% else %}{{ page.title }} · {{ site.projectname }}{% endif %}</title>

<!-- {{ site.projectname }} core CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Lato|Noto+Serif:400,400i,700">
<link href="{{ site.baseurl }}/assets/styles/brandaris{% if site.isProduction == true %}.min{% endif %}.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/styles/brandaris.docs{% if site.isProduction == true %}.min{% endif %}.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico">

<!-- {{ site.projectname }} Open Graph -->
<meta property="og:locale" content="en_UK">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.projectname }}: CSS-only framework">
<meta property="og:title" content="{% if page.layout == "home" %}{{ page.title }}{% else %}{{ page.title }} &middot; {{ site.projectname }}{% endif %}">
<meta property="og:description" content="{{ site.projectname }}, a strong and sleek CSS-only framework.">
<meta property="og:url" content="http://maartenbrakkee.bitbucket.org/{{ site.projectname }}/">
<meta property="og:image" content="http://maartenbrakkee.bitbucket.org/{{ site.projectname }}/assets/images/repo.jpg">

<script src="{{ site.baseurl }}/assets/scripts/brandaris.header{% if site.isProduction == true %}.min{% endif %}.js" async></script>
