@if ($badges) {
  .badge {
    @include plumber(
      $baseline: $font-sans-baseline,
      $font-size: $font-default-size / pow($font-scale-ratio, 1),
      $line-height: ceil($font-default-size / pow($font-scale-ratio, 1)),
      $leading-top: 0,
      $leading-bottom: 0
    );

    font-family: $font-sans;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    border-radius: $badge-border-radius;
  }

  .badge-circle {
    border-radius: 50%;
  }
}
