.box {
  @if ($box-rounded) {
    border-radius: $box-radius;
  }
  background: $color-white;
  border-color: $color-white;
  box-sizing: border-box;
  padding: 2rem;

  &.bg-primary {
    background: $color-primary;
    border-color: $color-primary;
  }

  &.bg-secondary {
    background: $color-secondary;
    border-color: $color-secondary;
  }

  &.bg-tertiary {
    background: $color-tertiary;
    border-color: $color-tertiary;
  }

  &.bg-black {
    background: $color-black;
    border-color: $color-black;
  }

  &.bg-gray {
    background: $color-gray;
    border-color: $color-gray;
  }

  &.bg-gray-light {
    background: $color-gray-light;
    border-color: $color-gray-light;
  }

  &.bg-gray-dark {
    background: $color-gray-dark;
    border-color: $color-gray-dark;
  }
}

.box-full {
  height: 100%;
}

.box-header,
.box-footer {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 2rem;
}

.box-split {
  border-bottom: 2px solid $color-gray-light;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.box-header {
  @if ($box-rounded) {
    border-radius: $box-radius $box-radius 0 0;
  }
  margin-top: -2rem;

  &.bg-image {
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    > div {
      &:first-child {
        @if ($box-rounded) {
          border-radius: $box-radius $box-radius 0 0;
          overflow: hidden;
        }
        margin-left: -2rem;
        margin-right: -2rem;
        margin-top: -2rem;
      }
    }
  }
}

.box-footer {
  @if ($box-rounded) {
    border-radius: 0 0 $box-radius $box-radius;
  }
  margin-bottom: -2rem;
}
