.btn {
  font-size: 2rem;
  line-height: 2.25rem;
  padding: 1rem 2rem;
  background-color: $color-white;
  color: $color-black;
  font-family: $font-sans;
  border: 0;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;

  @if ($button-uppercase) {
    text-transform: uppercase;
  }

  @if ($button-rounded) {
    border-radius: $button-radius;
  }

  @at-root {
    a#{&},
    button#{&} {
      cursor: pointer;
    }
  }
  .icon {
    fill: $color-black;
  }

  &:disabled {
    background: darken($color-white,20%);
    color: lighten($color-black,20%);
    cursor: not-allowed;
  }
  &:visited,
  &:link {
    color: $color-black;
  }
  &:hover {
    background: darken($color-white,10%);
  }
  &:active {
    background: darken($color-white,20%);
  }
}

.btn-sm {
  font-size: $font-default-size / pow($font-scale-ratio, 1) * 1rem;
  padding: .5rem 2rem;
  line-height: 1.5em;
}
.btn-lg {
  font-size: $font-default-size * pow($font-scale-ratio, 1) * 1rem;
  line-height: 3rem;
  padding: 1.5rem 3rem;
}
.btn-xl {
  font-size: $font-default-size * pow($font-scale-ratio, 2) * 1rem;
  line-height: 4.5rem;
  padding: 1.5rem 3rem;
}

.btn-block {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.btn-primary {
  @include btn-color($color-primary, $color-white);
}
.btn-secondary {
  @include btn-color($color-secondary, $color-black);
}
.btn-tertiary {
  @include btn-color($color-tertiary, $color-white);
}
.btn-quaternary {
  @include btn-color($color-quaternary, $color-black);
}
.btn-black {
  @include btn-color($color-black, $color-white);
}
.btn-white {
  @include btn-color($color-white, $color-black, false);
}
.btn-gray-light {
  @include btn-color($color-gray-light, $color-black, false);
}
.btn-gray {
  @include btn-color($color-gray, $color-black);
}
.btn-gray-dark {
  @include btn-color($color-gray-dark, $color-white);
}
