input,
select,
textarea,
.input {
  line-height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: $font-sans;
  color: $color-black;
  background: $color-gray-light;
  display: inline-block;
  border: 0;

  @if ($input-rounded) {
    border-radius: $input-radius;
  }
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    outline: $color-mark-bg auto 5px;
  }
}

input {
  &:disabled {
    background-color: $color-gray;
    color: $color-gray-light;
    cursor: not-allowed;
  }

  &[type="checkbox"],
  &[type="radio"] {
    &:focus {
      outline: 0;
    }
  }

  &[type="file"] {
    line-height: 0;
    height: 4rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}

select {
  height: 4rem;
}

.input-static {
  font-weight: normal;
  background: transparent;
  color: $color-gray;
  padding: 0;
  font-size: $font-default-size / pow($font-scale-ratio, 1) * 1rem;
}

label {
  font-size: $font-default-size / pow($font-scale-ratio, 1) * 1rem;
  line-height: ceil($font-default-size / pow($font-scale-ratio, 1)) * 1rem;
  font-family: $font-sans;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 700;
  display: block;
}

input[type=radio],
input[type=checkbox] {
  margin: 0;
}

input[type=range] {
  @include input-type-range;
}

.feedback {
  input {
    box-sizing: border-box;
  }

  .help {
    font-size: $font-default-size / pow($font-scale-ratio, 1) * 1rem;
    line-height: ceil($font-default-size / pow($font-scale-ratio, 1)) * 1rem;
  }

  &.info {
    input,
    textarea {
      box-shadow: 0 0 0 2px $color-info;

      &:focus {
        outline: $color-info auto 5px;
      }
    }
  }

  &.warning {
    input,
    textarea {
      box-shadow: 0 0 0 2px $color-warning;

      &:focus {
        outline: $color-warning auto 5px;
      }
    }
  }

  &.danger {
    input,
    textarea {
      box-shadow: 0 0 0 2px $color-danger;

      &:focus {
        outline: $color-danger auto 5px;
      }
    }
  }
}

.check {
  display: flex;
}

.check-input {
  display: none;

  &:checked {
    ~ .check-label {
      &::after {
        content: "✓";
      }
    }
  }

  &:disabled {
    ~ .check-label {
      &::after {
        cursor: not-allowed;
        color: darken($color-gray-light, 10%);
        background-color: $color-gray-light;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 2px 4px;
      }
    }
  }
}

.check-label {
  font-size: 1em;
  line-height: 1;
  width: 2em;
  height: 2em;
  border: 3px solid $check-border;
  transition: background .2s;
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  &::after {
    display: block;
    position: absolute;
    content: "";
    top: 3px;
    left: 6px;
    bottom: 3px;
    width: auto;
    font-size: 1.25em;
  }
}

.check-wrap {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  label {
    &:not(.check-label) {
      margin-left: 1em;
      display: flex;
    }
  }
}

.check-switch {
  ~ .check-label {
    width: 3em;
    border: 3px solid $check-switch-false;
    border-radius: 2em;

    &::after {
      left: 3px;
      background-color: $check-switch-false;
      border-radius: 50%;
      transition: margin .2s, background .2s;
      width: 1em;
    }
  }

  &:disabled {
    ~ .check-label {
      border-color: darken($color-gray-light, 10%) !important;

      &::after {
        background-color: darken($color-gray-light, 10%) !important;
        left: 3px;
        width: 1em;
        top: 3px;
        bottom: 3px;
      }
    }
  }

  &:checked {
    ~ .check-label {
      border-color: $check-switch-true;

      &::after {
        content: "";
        margin-left: calc(1em - 3px);
        background-color: $check-switch-true;
      }
    }
  }
}
