.notification {
  &.open {
    display: inline-block !important;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%) translateY(-50%);
  }
  &:not(.open):not(.notification-inline) {
    border-left: $color-gray-light 1px solid;
    border-right: $color-gray-light 1px solid;
  }
  > p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notification-open {
  &:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    background: rgba(0,0,0,.5);
  }
}
