$spinner-size: (1em / 3) !default;
$spinner-height: .5em !default;
$spinner-gap: .25em !default;
$spinner-black: "black";
$spinner-primary: "primary";
$spinner-secondary: "secondary";
$spinner-tertiary: "tertiary";

@mixin spinner(
  $size: $spinner-size,
  $height: $spinner-height,
  $gap: $spinner-gap,
  $spinner-animation-name: $spinner-black
) {
  width: $size;
  margin: 0 ($size + $gap);
  height: $height;
  position: relative;
  display: inline-block;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: $size;
    height: $height;
  }

  &::before {
    right: $size + $gap;
  }

  &::after {
    left: $size + $gap;
  }
}

@mixin spinner-color($spinner-animation-name: $spinner-black, $color: $color-black, $gap: $spinner-gap) {
  background: $color;
  animation: spinner-#{$spinner-animation-name} 1s ease-in-out infinite;
  animation-delay: (1s / 5) * 2;

  &::after,
  &::before {
    background: $color;
    animation: spinner-#{$spinner-animation-name} 1s ease-in-out infinite;
  }

  &::before {
    animation-delay: (1s / 5) * 1;
  }

  &::after {
    animation-delay: (1s / 5) * 3;
  }

  @keyframes spinner-#{$spinner-animation-name} {
    0%,
    100% {
      box-shadow: 0 0 0 $color,
        0 0 0 $color;
    }

    50% {
      box-shadow: 0 (-$gap) 0 $color,
        0 $gap 0 $color;
    }
  }
}

.spinner {
  @include spinner;

  @include spinner-color;
}

.spinner-primary {
  @include spinner-color($spinner-primary, $color-primary);
}

.spinner-secondary {
  @include spinner-color($spinner-secondary, $color-secondary);
}

.spinner-tertiary {
  @include spinner-color($spinner-tertiary, $color-tertiary);
}
