.table {
  border: 1px solid $color-gray-light;

  thead,
  tfoot {
    background: $color-gray-light;
    font-weight: bold;
    text-align: left;
    vertical-align: bottom;
  }

  tfoot {
    vertical-align: top;
  }

  th,
  td {
    padding: .5em 1em;
    border-left: 1px solid $color-gray-light;
    border-width: 0 0 0 1px;
  }
}

.table-hover {
  tr {
    &:hover,
    &:focus {
      background-color: $color-gray-light;
    }
  }
}

.table-striped {
  tr {
    &:nth-child(even) {
      background-color: $color-gray-light;
    }
  }
}

.table-colored {
  border: none;

  th,
  td {
    border-left: none;
  }

  thead {
    background: $table-colored-head-bg;
    color: $table-colored-head;
  }

  tbody,
  tbody tr {
    background: $table-colored-body-bg;
    color: $table-colored-body;
  }

  tfoot {
    tr {
      &:last-child {
        background: $table-colored-foot-bg;
        color: $table-colored-foot;
      }
    }
  }
}

.table-full {
  width: 100%;
  max-width: 100%;
  thead,
  tr {
    width: 100%;
  }
}

.table-responsive {
  overflow-x: auto;
}

.table-borderless {
  border: none;
  td,
  th {
    border-left: none;
  }
}
