@if ($triangles) {
  .triangle-left,
  .triangle-right,
  .triangle-top,
  .triangle-bottom {
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      position: absolute;
      z-index: 9;
    }
  }
  .triangle-left {
    &:after {
      top: calc(50% - 22.5px);
      left: -44px;
      border-width: 22.5px 45px 22.5px 0;
      border-right-color: inherit;
    }
  }
  .triangle-right {
    &:after {
      top: calc(50% - 22.5px);
      right: -44px;
      border-width: 22.5px 0 22.5px 45px;
      border-left-color: inherit;
    }
  }
  .triangle-top {
    &:after {
      left: calc(50% - 22.5px);
      top: -44px;
      border-width: 0 22.5px 45px;
      border-bottom-color: inherit;
    }
  }
  .triangle-bottom {
    &:after {
      left: calc(50% - 22.5px);
      bottom: -44px;
      border-width: 45px 22.5px 0;
      border-top-color: inherit;
    }
  }

  @each $size, $break-point in $grid-sizes {
    @media only screen and (min-width: $break-point) {
      .triangle-left-#{$size} {
        &:after {
          top: calc(50% - 22.5px);
          left: -44px;
          right: auto;
          bottom: auto;
          border-width: 22.5px 45px 22.5px 0;
          border-color: transparent;
          border-right-color: inherit;
        }
      }
      .triangle-right-#{$size} {
        &:after {
          top: calc(50% - 22.5px);
          right: -44px;
          left: auto;
          bottom: auto;
          border-width: 22.5px 0 22.5px 45px;
          border-color: transparent;
          border-left-color: inherit;
        }
      }
      .triangle-top-#{$size} {
        &:after {
          left: calc(50% - 22.5px);
          top: -44px;
          right: auto;
          bottom: auto;
          border-width: 0 22.5px 45px;
          border-color: transparent;
          border-bottom-color: inherit;
        }
      }
      .triangle-bottom-#{$size} {
        &:after {
          left: calc(50% - 22.5px);
          bottom: -44px;
          right: auto;
          top: auto;
          border-width: 45px 22.5px 0;
          border-color: transparent;
          border-top-color: inherit;
        }
      }
    }
  }
}
