// Button color
@mixin btn-color($background,$color,$dark-btn: true) {
  background: $background;
  color: $color;

  @include link-color($color);

  .icon {
    fill: $color;
  }

  &:disabled {
    @if ($dark-btn) {
      background: lighten($background,20%);
      color: darken($color,20%);
      .icon {
        fill: darken($color,20%);
      }
    }

    @else {
      background: darken($background,20%);
      color: lighten($color,20%);
      .icon {
        fill: lighten($color,20%);
      }
    }
  }
  &:visited,
  &:link {
    color: $color;
  }

  &:hover:enabled {
    @if ($dark-btn) {
      background: lighten($background,10%);
    }

    @else {
      background: darken($background,10%);
    }
  }

  &:active:enabled {
    @if ($dark-btn) {
      background: lighten($background,20%);
    }

    @else {
      background: darken($background,20%);
    }
  }
}
