//==============================================================================
// Functions
//==============================================================================

// Power frunction from: https://unindented.org/articles/trigonometry-in-sass/
@function pow($number, $exp) {
  $value: 1;

  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }

  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }

  @return $value;
}

// Returns a number without a unit. For example 16px becomes 16
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Return next value from map, from https://gist.github.com/agorilla/9df052eb1e15d8aea446
@function map-get-next($map, $key, $fallback: false) {
  // Check if map is valid
  @if type_of($map) == map {
    // Check if key exists in map
    @if map_has_key($map, $key) {
      // Init index counter variable
      $i: 0;
      // Init key index
      $key-index: false;
      // Traverse map for key
      @each $map-key, $map-value in $map {
        // Update index
        $i: $i + 1;
        // If map key found, set key index
        @if $map-key == $key {
          $key-index: $i;
        }
        // If next index return next value
        @if $i == $key-index + 1 {
          @return $map-value;
        }
        // If last entry return false
        @if $i == length($map) {
          @return $fallback;
        }
      }

      @warn "No next map item for key #{$key}";

      @return $fallback;
    }

    @warn "No valid key #{$key} in map";

    @return $fallback;
  }

  @warn "No valid map";

  @return $fallback;
}

//==============================================================================
// Mixins
//==============================================================================
