// Output default column padding and gutter
@mixin column-gutter {
  box-sizing: border-box;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
}

@mixin generate-breakpoints-grids($grid-sizes: $grid-sizes) {
  // generate breakpoint columns
  @each $breakpoint, $size in $grid-sizes {
    $infix: breakpoint-infix($breakpoint, $grid-sizes);

    @include media-breakpoint-up($breakpoint) {
      .container {
        @if(map-get-next($grid-sizes, $breakpoint)) {
          //max-width: calc(#{map-get-next($grid-sizes, $breakpoint)} - #{(2 * $grid-gutter)});
          max-width: #{map-get-next($grid-sizes, $breakpoint)};
        }
      }
      .col#{$infix} {
        flex-basis: 0%;
        max-width: 100%;
      }
      // alignment
      .start#{$infix} {
        justify-content: flex-start;
      }
      .center#{$infix} {
        justify-content: center;
      }
      .end#{$infix} {
        justify-content: flex-end;
      }
      .top#{$infix} {
        align-items: flex-start;
      }
      .middle#{$infix} {
        align-items: center;
      }
      .bottom#{$infix} {
        align-items: flex-end;
      }
      .full#{$infix} {
        align-items: stretch;
      }
      .around#{$infix} {
        justify-content: space-around;
      }
      .between#{$infix} {
        justify-content: space-between;
      }
      .first#{$infix} {
        order: -1;
      }
      .last#{$infix} {
        order: 1;
      }
      .sticky-footer#{$infix} {
        display: flex;
        flex-direction: column;
        > * {
          &:nth-last-child(2) {
            flex: 1 1 auto;
          }
          &:last-child {
            align-self: flex-end;
            width: 100%;
          }
        }
      }

      @for $i from 1 through $grid-columns {
        // breakpoint classes
        .col#{$infix}-#{$i} {
          flex-basis: percentage((1 / $grid-columns) * $i);
          max-width: percentage((1 / $grid-columns) * $i);
          width: percentage((1 / $grid-columns) * $i);
        }
        // offset classes
        .col#{$infix}-offset-#{($i - 1)} {
          margin-left: percentage((1 / $grid-columns) * ($i - 1));
        }
      }
    }
  }
}
