@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);

  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

@mixin input-type-range {
  -webkit-appearance: none;
  background: transparent;
  width: $track-width;
  margin-left: -10px;

  &::-webkit-slider-runnable-track {
    @include track;

    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);

    background: $track-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;

    -webkit-appearance: none;
    margin-top: (-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2;
  }

  &::-moz-range-track {
    @include track;

    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);

    background: $track-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;

    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $track-color;
    border-radius: $track-radius * 2;

    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
  }

  &::-ms-fill-upper {
    background: $track-color;
    border-radius: $track-radius * 2;

    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
  }

  &::-ms-thumb {
    @include thumb;
  }

  &:focus {
    outline: none;
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: $track-color;
  }

  &:focus::-webkit-slider-runnable-track {
    background: $track-color;
  }
}
