// Text color
@mixin text-color($color, $class) {
  a {
    &.#{$class} {
      @include link-color($color);
    }
  }
  .#{$class} {
    color: $color;
    fill: $color;
  }
}

// Link color
@mixin link-color($color) {
  &:link {
    color: $color;
  }
  &:visited {
    color: darken($color,10%);
  }
  &:hover,
  &:active {
    color: lighten($color,10%);
  }
}
