@import '../../scss/base/variables';

@import 'hero';

.docs-container {
  overflow: inherit;
}

.anchorjs-link {
  transition: all .25s linear;
}

.search {
  position: relative;
  .results {
    position: absolute;
    top: 100%;
    border-radius: 4px;
    width: 100%;
    background: $color-white;
    border: 1px solid $color-primary;
    padding: 1.5em 1.5em 0 1.5em;
    margin-left: -1px;
    z-index: 99;
  }
}

.docs-nav {
  ul {
    list-style: none;
    margin-left: 0;
    li {
      font-weight: bold;
      margin-bottom: 1.5em;
      a {
        color: $color-black;
        text-decoration: none;
      }
    }
    ul {
      li {
        font-weight: normal;
        margin-bottom: 0;
      }
    }
  }
}

.tocbot {
  overflow-y: auto;
}
.tocbot>ul {
  overflow: hidden;
  position: relative
}
.toc-list {
  margin: 0;
  padding-left: calc(1.5em - 10px);
  list-style: none;
}
a.toc-link {
  color: currentColor;
  height: 100%;
  text-decoration: none;
}
.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out
}
.is-collapsed {
  max-height: 0
}
.is-position-fixed {
  position: fixed !important;
  top: 1.5em;
}
.is-active-link {
  font-weight: 700
}
.toc-link::before {
  background-color: $color-gray-light;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px
}
.is-active-link::before {
  background-color: $color-primary
}
