// Contains global variables

/* Colors */
$color-white:                 #ffffff !default;
$color-black:                 #3b3b3b !default;

$color-primary:               #2bacb5 !default;  // blue
$color-secondary:             #81d292 !default;  // green
$color-tertiary:              #e84d5b !default;  // red
$color-quaternary:            #ed6e55 !default;  // green

$color-gray:                  lighten($color-black,40%) !default;
$color-gray-light:            #f7f7f9 !default;
$color-gray-dark:             #3c3c3c !default;

$color-links:                 $color-primary !default;
$color-mark-bg:               $color-primary !default;
$color-mark:                  $color-white !default;

$color-info:                  $color-primary !default;
$color-warning:               $color-secondary !default;
$color-danger:                $color-tertiary !default;

$check-border:                $color-gray-light !default;
$check-switch-false:          $color-tertiary !default;
$check-switch-true:           $color-secondary !default;

/* Grid */
$grid-gutter:                 15px !default;
$grid-columns:                12 !default;
$grid-sizes: (
  "xxs":                      0,
  "xs":                       481px,
  "sm":                       569px,
  "md":                       769px,
  "lg":                       1025px,
  "xl":                       1441px,
) !default;

$button-rounded:              false !default;
$button-uppercase:            true !default;
$button-radius:               4px !default;

$box-rounded:                 true !default;
$box-radius:                  8px !default;

$input-rounded:               true !default;
$input-radius:                4px !default;

$tabs-rounded:                true !default;
$tabs-radius:                 4px !default;
$tabs-active-bg:              $color-primary !default;
$tabs-active-color:           $color-white !default;
$tabs-bg:                     $color-gray !default;
$tabs-color:                  $color-white !default;
$tabs-alt-active-bg:          $color-white !default;
$tabs-alt-active-color:       $color-primary !default;
$tabs-alt-bg:                 $color-gray !default;
$tabs-alt-color:              $color-white !default;

$table-colored-head:          $color-black !default;
$table-colored-head-bg:       $color-secondary !default;
$table-colored-body:          $color-black !default;
$table-colored-body-bg:       $color-gray-light !default;
$table-colored-foot:          $color-black !default;
$table-colored-foot-bg:       $color-white !default;

$bg-image-dark-color:         $color-black !default;
$bg-image-dark-opacity:       .5 !default;
$bg-image-light-color:        $color-black !default;
$bg-image-light-opacity:      .25 !default;

$list-check-color:            $color-secondary !default;

$triangles:                   true !default;

$badges:                      true !default;
$badge-border-radius:         8px !default;

// Input range
$thumb-color:                 $color-gray !default;
$thumb-radius:                100% !default;
$thumb-height:                30px !default;
$thumb-width:                 30px !default;
$thumb-border-width:          0 !default;
$thumb-border-color:          black !default;
$thumb-shadow-size:           0 !default;
$thumb-shadow-blur:           1px !default;
$thumb-shadow-color:          rgba(0, 0, 0, 0) !default;

$track-color:                 $color-gray-light !default;
$track-radius:                10px !default;
$track-width:                 100% !default;
$track-height:                8px !default;
$track-border-width:          0 !default;
$track-border-color:          black !default;
$track-shadow-size:           2px !default;
$track-shadow-blur:           2px !default;
$track-shadow-color:          rgba(0, 0, 0, 0) !default;

$footer-sticky:               true !default;

$nav-btn-hover-bg:            $color-black !default;
$nav-btn-hover-color:         $color-white !default;
$nav-btn-style:               "btn" !default;
$nav-height:                  60px !default;
$nav-logo-left:               1em !default;
$nav-logo-top:                10px !default;
$nav-mobile-background:       $color-secondary !default;
$nav-mobile-breakpoint:       "md" !default;
$nav-mobile-logo-mar-bottom:  120px !default;
$nav-mobile-logo-top:         10px !default;
$nav-mobile-toggle-top:       10px !default;
$nav-right-top:               10px !default;
$nav-toggle-color:            $color-black !default;

/* Typography */
$font-serif:                  "Noto Serif", serif !default;
$font-sans:                   "Lato", sans-serif !default;
$font-mono:                   "Inconsolata", monospace !default;

$font-color:                  $color-black !default;
$font-scale-ratio:            1.414 !default;

$font-header-family:          $font-sans !default;
$font-header-weight:          700 !default;

$font-body-family:            $font-serif !default;
$font-body-weight:            400 !default;
$font-body-lead-weight:       700 !default;
$font-body-strong-weight:     700 !default;
$font-body-color:             $color-black !default;

$font-blockquote-family:      $font-serif !default;

// Lookup at https://jamonserrano.github.io/plumber-sass/baselines/ or use the measure tool https://jamonserrano.github.io/plumber-sass/measure/
$font-sans-baseline:          0.113 !default;
$font-serif-baseline:         0.112061 !default;
$font-mono-baseline:          0.1655 !default;

$font-header-baseline:        $font-sans-baseline !default;
$font-code-baseline:          $font-mono-baseline !default;

$font-baseline-debug:         false !default;
$font-baseline-color:         #f00000 !default;

$font-base-size:              16px !default; // grid will be .5 of font base size
$font-default-grid-height:    1rem !default; // For responsive typography define the grid height in rems or other relative units, and metrics will change along
$font-default-baseline:       $font-serif-baseline !default;
$font-default-size:           2 !default;
$font-default-line-height:    3 !default; // only whole numbers, we want 1.5, thus double size
$font-default-leading-top:    1 !default;
$font-default-leading-bottom: 2 !default;

$spacer:                      $font-base-size / 2;
$spacers: (
  0:                          0,
  1:                          ($spacer * 1),
  2:                          ($spacer * 2),
  3:                          ($spacer * 3),
  4:                          ($spacer * 4),
  5:                          ($spacer * 5)
);
