.bg-primary {
  @include bg-color($color-primary);
}
.bg-secondary {
  @include bg-color($color-secondary);
}
.bg-tertiary {
  @include bg-color($color-tertiary);
}
.bg-quaternary {
  @include bg-color($color-quaternary);
}
.bg-white {
  @include bg-color($color-white);
}
.bg-black {
  @include bg-color($color-black);
}
.bg-gray {
  @include bg-color($color-gray);
}
.bg-gray-light {
  @include bg-color($color-gray-light);
}
.bg-gray-dark {
  @include bg-color($color-gray-dark);
}

.bg-blog {
  padding: 2rem;
}

@each $size, $break-point in $grid-sizes {
  @media only screen and (min-width: $break-point) {
    .bg-blog {
      background: url("/assets/images/blog_#{$size}.jpg") no-repeat center center scroll;
      background-size: cover;
    }
  }
}
