html {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  width: 100%;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -$grid-gutter;
  margin-left: -$grid-gutter;

  > * {
    @include column-gutter;

    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
  }
  &.reverse {
    flex-direction: row-reverse;
  }
}

.full-screen {
  height: 100%;

  > .row {
    height: 100%;
  }
}

@include generate-breakpoints-grids;
