/* Select IE10+ only */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input,
  .input {
    min-height: 36px;
  }
  .slider-home {
    @include media-breakpoint-up(xs) {
      .staff {
        img {
          max-height: 440px;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      .staff {
        img {
          max-height: 365px;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .staff {
        img {
          max-height: 564px;
        }
      }
    }
  }
}
