img {
  display: block;
  &.align-left,
  &.align-center,
  &.align-right {
    display: inline-block;
  }
}

.img-responsive,
.img-responsive img {
  max-width: 100%;
}

.full-height {
  height: 100%;
}

.img-bottom,
.img-bottom img {
  vertical-align: bottom;
  align-self: flex-end;
}

.circle {
  border-radius: 50%;
}

.bg-image {
  position: relative;
  > div {
    &:first-child {
      img {
        display: block;
      }
    }
    &:last-child {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% + #{$grid-gutter * 2});
    }
    &.bottom {
      top: auto;
      bottom: 0;
      transform: translateY(0);
    }
    &.top {
      top: 0;
      bottom: auto;
      transform: translateY(0%);
    }
  }
}

.img-overlay {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.img-overlay-dark {
  &:after {
    background: rgba($bg-image-dark-color, $bg-image-dark-opacity);
  }
}

.img-overlay-light, {
  &:after {
    background: rgba($bg-image-light-color, $bg-image-light-opacity);
  }
}

.img-flip {
  transform: scaleX(-1);
}
