ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ol,
ul,
dl {
  margin-left: 2.5rem;
  margin-bottom: 2rem;

  ul,
  ol,
  dl {
    margin-bottom: 0;
  }
}

.list-none,
.list-check,
.list-inline,
.list-breadcrumb {
  list-style: none;
  margin-left: 0;
}

.list-inline {
  margin-bottom: 0;

  li {
    display: inline-block;
    padding: 0 .25em 0 2em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.list-check {
  li {
    padding-left: 2em;

    &:before {
      content: "";
      display: inline-block;
      height: (22/18) * 1em;
      width: (22/18) * 1em;
      background-color: $list-check-color;
      border: 4px solid $list-check-color;
      border-radius: 50%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M8.3,16L2.2,9.9l2.4-2.4l3.7,3.6L15.4,4l2.4,2.4L8.3,16z'/%3E%3C/svg%3E");
      position: relative;
      top: .25em;
      margin-left: -2em;
      margin-right: (6/18) * 1em;
    }
  }

  &.list-check-white {
    li {
      &:before {
        background-color: $color-white;
        border: 4px solid $color-white;
      }
    }
  }
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
}

.list-breadcrumb {
  li {
    display: inline-block;

    &:not(:last-child) {
      &:after {
        content: "\00b7";
        display: inline-block;
        padding: 0 .25em 0 .5em;
      }
    }
  }
}
