@media print {
  @page {
    margin: 2cm;
  }

  h1,
  h2,
  h3,
  p,
  section,
  ul {
    page-break-inside: avoid;
    color: black;
  }

  img {
    page-break-inside: avoid;
  }

  .nav-menu > ul {
    display: none;
  }

  .triangle-right:after,
  .triangle-left:after,
  .triangle-bottom:after,
  .triangle-top:after {
    display: none;
  }

  footer,
  .footer {
    display: none;
  }

  .slider-nav {
    display: none;
  }

  .list-check li {
    &:before {
      content: "-";
      color: $color-gray-dark;
      border: none;
      top: auto;
    }
  }
  .btn-block {
    text-align: left;
  }

  @media print {
    .d-print-none {
      display: none !important;
    }

    .d-print-inline {
      display: inline !important;
    }

    .d-print-inline-block {
      display: inline-block !important;
    }

    .d-print-block {
      display: block !important;
    }

    .d-print-flex {
      display: flex !important;
    }

    .d-print-inline-flex {
      display: inline-flex !important;
    }
  }
}
