html {
  font-size: $font-base-size / 2;
  // stop scaling text
  text-size-adjust: 100%;

  min-width: 400px;
}

body {
  font-family: $font-body-family;
  font-weight: $font-body-weight;
  color: $font-body-color;

  > * {
    font-size: $font-default-size * $font-default-grid-height;
    line-height: $font-default-line-height * $font-default-grid-height;
  }
}

::selection {
  background: $color-mark-bg;
  color: $color-mark;
}

.normal-weight {
  font-weight: $font-body-weight;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-header-family;
  font-weight: $font-header-weight;
}

h1,
.h1 {
  @include plumber(
    $baseline: $font-header-baseline,
    $font-size: $font-default-size * pow($font-scale-ratio, 2),
    $line-height: ceil($font-default-size * pow($font-scale-ratio, 2))
  );
}

h2,
h3,
.h2,
.h3 {
  @include plumber(
    $baseline: $font-header-baseline,
    $font-size: $font-default-size * pow($font-scale-ratio, 1),
    $line-height: ceil($font-default-size * pow($font-scale-ratio, 1))
  );
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  @include plumber(
    $baseline: $font-header-baseline,
    $leading-top: 0,
    $leading-bottom: 1
  );
}

@include media-breakpoint-up(md) {
  h1,
  .h1 {
    @include plumber(
      $baseline: $font-header-baseline,
      $font-size: $font-default-size * pow($font-scale-ratio, 3),
      $line-height: ceil($font-default-size * pow($font-scale-ratio, 3))
    );
  }

  h2,
  .h2 {
    @include plumber(
      $baseline: $font-header-baseline,
      $font-size: $font-default-size * pow($font-scale-ratio, 2),
      $line-height: ceil($font-default-size * pow($font-scale-ratio, 2))
    );
  }

  h3,
  .h3 {
    @include plumber(
      $baseline: $font-header-baseline,
      $font-size: $font-default-size * pow($font-scale-ratio, 1),
      $line-height: ceil($font-default-size * pow($font-scale-ratio, 1))
    );
  }
}

@include media-breakpoint-up(lg) {
  h1,
  .h1 {
    @include plumber(
      $baseline: $font-header-baseline,
      $font-size: $font-default-size * pow($font-scale-ratio, 4),
      $line-height: ceil($font-default-size * pow($font-scale-ratio, 4))
    );
  }

  h2,
  .h2 {
    @include plumber(
      $baseline: $font-header-baseline,
      $font-size: $font-default-size * pow($font-scale-ratio, 3),
      $line-height: ceil($font-default-size * pow($font-scale-ratio, 3))
    );
  }

  h3,
  .h3 {
    @include plumber(
      $baseline: $font-header-baseline,
      $font-size: $font-default-size * pow($font-scale-ratio, 2),
      $line-height: ceil($font-default-size * pow($font-scale-ratio, 2))
    );
  }

  h4,
  .h4 {
    @include plumber(
      $baseline: $font-header-baseline,
      $font-size: $font-default-size * pow($font-scale-ratio, 1),
      $line-height: ceil($font-default-size * pow($font-scale-ratio, 1))
    );
  }
}

p {
  margin-bottom: 2rem;
}

small,
.small {
  @include plumber(
    $font-size: $font-default-size / pow($font-scale-ratio, 1),
    $line-height: ceil($font-default-size / pow($font-scale-ratio, 1))
  );
}

.lead {
  font-weight: $font-body-lead-weight;

  @include plumber(
    $font-size: $font-default-size * pow($font-scale-ratio, 1),
    $line-height: ceil($font-default-size * pow($font-scale-ratio, 1))
  );
}

.inline {
  display: inline-block;
}

a {
  @include link-color($color-links);
  word-wrap: break-word;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &.no-line {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

em,
i {
  font-style: italic;
}

strong,
b,
.strong {
  font-weight: $font-body-strong-weight;
}

kbd,
pre,
code {
  @include plumber(
    $baseline: $font-code-baseline,
    $line-height: 2
  );

  font-family: $font-mono;
}

mark,
.mark {
  background-color: $color-mark-bg;
  color: $color-mark;
  padding: 0 3px;
}

kbd {
  background-color: $color-white;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #ffffff inset;
  display: inline-block;
  font-size: .75em;
  margin-bottom: 0;
  line-height: 1em;
  padding: .312em .6em;
  text-shadow: 0 1px 0 #ffffff;
}

sup,
sub {
  @extend .small;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}

abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
  font-variant: small-caps;
  text-decoration: none;
  text-transform: lowercase;
}

blockquote {
  margin: 2rem 0;
  padding-left: 2rem;
  border-left: .5rem solid $color-gray-light;
  font-family: $font-blockquote-family;
}

hr {
  margin-top: 2rem;
  margin-bottom: 0;
  border: none;
  border-top: 2px solid $color-gray-light;
}

.border-bottom {
  border-bottom: 1px solid $color-gray-light;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-bottom {
  vertical-align: bottom;
}

.font-sans {
  @include plumber(
    $baseline: $font-sans-baseline
  );

  font-family: $font-sans;
}

.font-serif {
  @include plumber(
    $baseline: $font-serif-baseline
  );

  font-family: $font-serif;
}

.font-mono {
  @include plumber(
    $baseline: $font-mono-baseline
  );

  font-family: $font-mono;
}

.nowrap {
  white-space: nowrap;
}

@include text-color($color-primary, "clr-primary");

@include text-color($color-secondary, "clr-secondary");

@include text-color($color-tertiary, "clr-tertiary");

@include text-color($color-quaternary, "clr-quaternary");

@include text-color($color-white, "clr-white");

@include text-color($color-black, "clr-black");

@include text-color($color-gray, "clr-gray");

@include text-color($color-gray-light, "clr-gray-light");

@include text-color($color-gray-dark, "clr-gray-dark");
