<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="bg-primary py-2 mb-2">
      <div class="container docs-container">
        <div class="row middle">
          <div class="col-md-9 clr-white">
            {% if page.group == "base" %}
              <h1>Base</h1>
              <p class="lead">Global styles, such as typography, colors, grid, etc.</p>
            {% elsif page.group == "components" %}
              <h1>Components</h1>
              <p class="lead">Self-contained components</p>
            {% elsif page.group == "layout" %}
              <h1>Layout</h1>
              <p class="lead">Larger layout components; e.g. nav, header, footer, etc.</p>
            {% elsif page.group == "pages" %}
              <h1>Pages</h1>
              <p class="lead">Page-specific styling</p>
            {% elsif page.group == "themes" %}
              <h1>Themes</h1>
              <p class="lead">Different themes</p>
            {% else %}
              <h1>{{ site.projectname }}</h1>
              <p class="lead">Front end awesomeness, true story</p>
            {% endif %}
          </div>
          <div class="col-md-3">
            <div id="search-container" class="search">
              <input type="text" id="search-input" placeholder="search...">
              <div class="results hide">
                <ul id="results-container"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content container">
      <div class="row">
        <div class="col-12 col-md-9 col-lg-8 last-lg">
          <h2>{{ page.title }}</h2>
          {{ content }}
        </div>
        <div class="col-12 col-md-3 col-lg-2 last-lg d-none d-md-block">
          <div class="tocbot-wrap">
            <span class="clr-gray">On this page</span>
            <div class="tocbot pt-2"></div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2">
          <nav class="docs-nav">
            {% include automenu.html url="/docs/" all=true %}
          </nav>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
