@if ($footer-sticky) {
  .sticky-footer-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    & > .content {
      flex: 1;
    }
    .full-screen {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      & > div {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
