header {
  .container,
  .container-fluid {
    overflow: visible;
  }
}

.nav {
  position: relative;
  height: $nav-height;
  z-index: 10;
}

.nav-right {
  position: absolute;
  right: 1em;
}

.nav-logo {
  display: inline-block;
  left: $nav-logo-left;
  position: absolute;
  text-align: inherit;
  top: $nav-logo-top;

  a {
    visibility: visible;
  }

  img {
    margin: auto;
  }
}

.nav-menu-wrap {
  font-weight: bold;
  visibility: hidden;
}

.nav-menu {
  display: none;
  list-style: none;
  margin-bottom: 0;

  li {
    display: inline-block;

    a {
      @extend .btn;

      text-decoration: none;

      @if ($nav-btn-style != false) {
        @extend .#{$nav-btn-style};
      }

      &:hover {
        background-color: $nav-btn-hover-bg;
        color: $nav-btn-hover-color;
      }
    }
  }
}

.nav-toggle {
  display: none;

  &:checked {
    ~ .nav-label {
      position: fixed;
      top: $nav-mobile-toggle-top;
      z-index: 10;

      &:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z' fill='#{$nav-toggle-color}'/%3E%3C/svg%3E");
      }
    }

    ~ .nav-menu-wrap {
      background: $nav-mobile-background;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      visibility: visible;
      width: 100%;

      li {
        display: block;
        line-height: 2;
        margin-bottom: 1em;
      }

      .nav-logo {
        left: 0;
        position: fixed;
        text-align: center;
        top: $nav-mobile-logo-top;
        width: 100%;
      }

      .nav-menu {
        display: block;
        margin-left: -2rem;
        max-height: calc(100vh - #{$nav-mobile-logo-mar-bottom} - 2em);
        overflow-y: auto;
        position: fixed;
        top: #{$nav-mobile-logo-mar-bottom};
        width: 100vw;
      }

      .nav-right {
        position: relative;
        right: auto;
      }
    }
  }
}

.nav-label {
  @extend .nav-right;
  color: $nav-toggle-color;
  cursor: pointer;
  font-size: $font-base-size;
  font-weight: bold;
  text-align: right;
  width: auto;

  &:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M16.4 9H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zm0 4H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1zM3.6 7h12.8c.552 0 .6-.447.6-1 0-.553-.048-1-.6-1H3.6c-.552 0-.6.447-.6 1 0 .553.048 1 .6 1z' fill='#{$nav-toggle-color}'/%3E%3C/svg%3E");
    display: inline-block;
    height: 1em;
    left: -.25em;
    position: relative;
    top: .125em;
    width: 1em;
  }
}

@include media-breakpoint-up($nav-mobile-breakpoint) {
  .nav-label {
    display: none;
  }

  .nav-logo {
    img {
      margin: inherit;
    }
  }

  .nav-menu-wrap {
    visibility: visible;
  }

  .nav-menu {
    display: inline-block;
  }

  .nav-right {
    top: $nav-right-top;
  }
}
