.slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.slider-item {
  width: 100%;
  transition: transform .5s ease-in;
  transform: translateX(-100%);
  flex: 0 0 100%;
  margin-right: -100%;
  display: flex;
  align-items: center;
  > * {
    width: 100%;
  }
  &.active {
    transform: translateX(0);
    & ~ .slider-item {
      transform: translateX(100%);
    }
  }
}

.overlay {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  > .row {
    &:first-child {
      min-width: 100%;
    }
    &:last-child {
      margin-left: -100%;
    }
  }
}

.slider-nav {
  margin-left: 0;
  list-style: none;
  > * {
    cursor: pointer;
  }
  li {
    display: inline-block;
    margin: 0 1rem;
    border-radius: 50%;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    &.active,
    &:hover {
      background: $color-black;
    }
  }
}

@include media-breakpoint-down(sm) {
  .slider {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-item {
    transform: translateX(calc(-100% - 1em));
    &.active {
      transform: translateX(0);
      & ~ .slider-item {
        transform: translateX(100%);
      }
    }
  }
}
