.tabs-nav-alt {
  li {
    color: $tabs-alt-color;
    background-color: $tabs-alt-bg;
    &.active {
      color: $tabs-alt-active-color;
      background-color: $tabs-alt-active-bg;
    }
  }
}

.tabs-nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  li {
    color: $tabs-color;
    background-color: $tabs-bg;
    display: inline-flex;
    padding: 1rem 2rem;
    margin-left: .5rem;
    cursor: pointer;

    @if ($tabs-rounded) {
      border-radius: $tabs-radius $tabs-radius 0 0;
    }
    &:first-child {
      margin-left: 0;
    }
    &.active {
      color: $tabs-active-color;
      background-color: $tabs-active-bg;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.tabs {
  .tabs-content {
    display: none;
    padding: $grid-gutter;

    @if ($tabs-rounded) {
      border-radius: 0 $tabs-radius $tabs-radius $tabs-radius;
    }
    &.active {
      display: block;
    }
  }
}

@include media-breakpoint-down(xs) {
  .tabs-nav {
    li {
      padding: $spacer $spacer * 2;
      margin-left: $spacer;
    }
  }

  .tabs {
    .tabs-content {
      padding: $spacer;
    }
  }
}
